.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
  max-width: 800px;
}

button {
  max-width: 200px;
  margin: 0 auto;
}

.container .form-field label{
  margin: 10px;
  min-width: 200px;
  text-align: right;
}

.submit button {
  margin: 20px;
  min-width: 200px;
  text-align: center;
}
